@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
    background-color: black;
    color: white;
}

.header {
  padding: 7px;
  background: #ec4e8a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-actions {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
}

.footer {
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 5px;
}
